<h2 class="mb-4">Historial de compras</h2>

{{#if carts.length}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID Carrito</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {{#each carts}}
                <tr>
                    <td>{{this.cart_id}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.state}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-warning">
        No hay compras registradas.
    </div>
{{/if}}